<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
      <input type="text" name="title" placeholder="Title">
      <input type="textbox" name="description" placeholder="Description">
      <input type="date" name="due" placeholder="Due Date">
      <input type="text" name="status" placeholder="Status">
      <button type="submit">Create</button>
    </form>
</body>
</html>